/* stylelint-disable */
@import "../styles/theme.css";
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/carousel/styles.css";
@import "@mantine/dates/styles.css";
@import "@mantine/dropzone/styles.css";
@import "../styles/progress.css";

@import "tailwindcss";
